- name: devtools > Base tools
  community.general.pacman: name={{ packages | join(',') }}
  vars:
    packages:
      - cmake
      - gdb
      - lcov
      - minicom

- name: devtools > Python
  community.general.pacman: name={{ packages | join(',') }}
  vars:
    packages:
      - pycharm-community-edition

- name: devtools > KiCad
  community.general.pacman: name={{ packages | join(',') }}
  vars:
    packages:
      - kicad
      - kicad-library
